@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
h1 { 
    text-align: center;
    width: auto;
    font-family: "Oswald";
}
body { 
     background-color: aquamarine;
     text-align: center;
}
p { 
width: 50%;
text-align: center;
}