@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
h1 { 
    text-align: center;
    width: auto;
    font-family: "Oswald";
    font-size: 400px;
}
body { 
     background-color: aquamarine;
     text-align: center;
     font-family: "Oswald";

}
p {
text-align: center;
width: auto;

}